*{
  margin:0;
}
.container {
  width: 100%;
  font-family: sans-serif;
}


/* navbar */
.navbar-container {
  margin-top:15px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.navbar-container > div > img {
  width: 100px;
  margin-left:50px;
}
.list {
  list-style-type: none;
  display: flex;
  margin-inline:20px;
}
.list-item {
  margin-inline: 20px;
  color: grey;
}
.list-item:first-of-type {
  color: black;
}
.button-group {
  width:40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-button {
  background-color: #5c5cd6;
  padding: 12px 30px;
  border-radius: 5px;
  border: none;
  color: #fff;
}
@media only screen and (max-width:900px) {
  .navbar-container{
    display: flex;
    justify-content: space-between;
    margin-inline:10px;
  }
  .navbar-container > div > img{
    margin-left:0;
  }
  .list{
    display: none;
  }
  .nav-button{
    display: none;
  }
  .navbar-container:nth-child(1)::after{
    content: "";
    display: inline-block;
    width:40px;
    height:40px;
    background-color: white;
    background-image: url(./assets/hamburger-menu-more-2-svgrepo-com.svg);
    background-size:40px 40px;
  }
} 
/* banner */
.banner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


/* left */
.banner-container>div:nth-child(1){
  width:30%;
  margin-inline-start:80px;
  margin-block: 25px; 
}
.heading-text {
  margin-top:50px;
  font-size: 50px;
  color: #191966;
}
.heading-text > span {
  color: #7070db;
}
.description {
  font-size: small;
  color: grey;
  margin-top: 25px;
  padding-bottom: 30px;
}

/* right */
.banner-container>div:nth-child(2){
  width:60%;
}
.banner-container>div:nth-child(2) img{ 
  width:100%;
  height:80vh;
}

@media only screen and (max-width:900px) {
  .banner-container{
    display:flex;
    flex-wrap:wrap;
  }
  .heading-text{
    margin-top:50px;
    font-size:40px;
  }
  .description{
      padding-inline:40px;
  }
 .banner-container>div:nth-child(1){
      width:100%;
      text-align:center;
      margin-inline:25px;
  }
  .banner-container>div:nth-child(2){
    width:100%;
  }
  .banner-container>div:nth-child(2) img{
    width:100%;
    height:400px;
  }
} 